<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.tymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">


    <head th:replace="plantillas/plantilla::head">
        <title>Lista de tareas</title>
        <meta charset="UTF-8"/>
    </head>
    <body>
        <header th:replace="plantillas/plantilla::header">lista de tareas</header>
         <div th:replace="plantillas/plantilla::notificaciones"></div>


        
        
        <footer th:replace="plantillas/plantilla::footer"></footer>
    </body>
</html>
